apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
spec:
  revisionHistoryLimit: 2
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
        sidecar.istio.io/inject: "true"
    spec:
      containers:
        - name: config-server
          image: "{{ .Values.image.configServer.repository }}:{{ .Values.image.configServer.tag }}"
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.service.configServer.port }}
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: docker
            - name: SPRING_APPLICATION_NAME
              value: config-server
            - name: SPRING_APPLICATION_INSTANCE_ID
              value: config-server:${HOSTNAME}
---
apiVersion: v1
kind: Service
metadata:
  name: config-server
spec:
  selector:
    app: config-server
  ports:
    - name: http
      port: {{ .Values.service.configServer.port }}
      targetPort: {{ .Values.service.configServer.port }}
      nodePort: {{ .Values.service.configServer.nodePort }}
  type: NodePort
